*{
    margin: 0;
    padding: 0;

}
body{

    height: 500px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(184, 192, 192);
}
.container{
    border: 3px solid rgb(127, 193, 250);
    border-radius: 15px;
    border-bottom: none;
    padding: 10px;
    width: 50%;
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
}

.input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Data input[type="text"]{
  border-radius: 150px;
  padding : 3px;
}
.buttons input[type="button"]{
    background-color: rgb(192, 220, 245);
    border: 1px solid white;
    border-radius: 15px;
    width: 50px;
    padding: 2px;
}
.output{
    font-size: 20px;
}